<!-- Modal -->
<div class="modal fade" id="ModalSnake" tabindex="-1" role="dialog" aria-labelledby="ModalSnakeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalSnakeLabel">How to play</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="keys">
          <p>W : <%= t('.game-up') %></p>
          <p>S : <%= t('.game-down') %></p>
          <p>A : <%= t('.game-left') %></p>
          <p>D : <%= t('.game-right') %></p>
        </div>
        <div class="snake-lvl">
          <%= t('.game-rules-text') %>
        </div>
        <div class="snake-scores">
          <div class="lvl-unbelievable d-flex align-items-center my-2">
            <div class="color-impossible mr-2"></div>
            <div class="text-good">
              <%= t('.game-color-1') %>
            </div>
          </div>
          <div class="lvl-unbelievable d-flex align-items-center my-2">
            <div class="color-unbelievable mr-2"></div>
            <div class="text-good">
              <%= t('.game-color-2') %>
            </div>
          </div>
          <div class="lvl-impressive d-flex align-items-center my-2">
            <div class="color-impressive mr-2"></div>
            <div class="text-good">
              <%= t('.game-color-3') %>
            </div>
          </div>
          <div class="lvl-good d-flex align-items-center my-2">
            <div class="color-good-game mr-2"></div>
            <div class="text-good">
              <%= t('.game-color-4') %>
            </div>
          </div>
          <div class="lvl-medium d-flex align-items-center my-2">
            <div class="color-medium-game mr-2"></div>
            <div class="text-medium">
              <%= t('.game-color-5') %>
            </div>
          </div>
          <div class="lvl-basic d-flex align-items-center my-2">
            <div class="color-basic-game mr-2"></div>
            <div class="text-basic">
              <%= t('.game-color-6') %>
            </div>
          </div>
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn-blue-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>