<div class="d-flex">
  <div class="navbar">
    <%= render 'shared/navbar' %>
  </div>
  <div class="cv-body flex-grow-1">
    <div id="home">
      <div id="particles-js" class="banner">
        <div class="banner-name d-flex justify-content-center">
          <p style="text-shadow: -3px 3px 2px rgb(106, 9, 125);">A</p>lexis <p class="ml-4" style="text-shadow: -3px 3px 2px rgb(106, 9, 125);">L</p>enoir
        </div>
        <div class="banner-job">
          FullStack Developper
        </div>
        <div class="banner-loc">
          Currently in Rio de Janeiro
        </div>
      </div>
    </div>
    <div class="container-profile">
      <div class="about-me mb-5">
        <h1 class="d-flex justify-content-center">
          <p style="text-shadow: -2px 2px 2px rgb(106, 9, 125);">A</p>bout me
        </h1>
        <p class="about-me-text">Former Urban Engineer, I always have been attracted by IT and technologies in general. 
        In 2019 when I was in <strong>Rio de Janeiro</strong>, I heard about <strong style="color: rgb(106, 9, 125);">Le Wagon</strong> by chance 
        and I finally decided to do the part-time format between January and June 2020. 
        Since then I'm working on my own projects still trying to learn new frameworks, languages etc..
        <p class="about-me-end">I'm always open to face new challenges !</p>
      </div>
      <div class="skills mb-5" id="skills">
        <!-- Button trigger modal -->
        <h1 class="d-flex justify-content-center">
          <p style="text-shadow: -2px 2px 2px rgb(106, 9, 125);">S</p>kills & Tools
        </h1>
        <div class="skills-notes d-flex justify-content-around my-3">
          <% @levels.each do |level| %>
            <div class="skills-<%= level %> d-flex align-items-center my-2">
              <div class="color-<%= level %> mr-2">
              </div>
              <div class="text-<%= level %>">
                <%= level.capitalize %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row skills justify-content-center">
          <% @skills.each do |skill| %>
            <div class="flip-card col-6 col-sm-4 col-md-3 col-lg-2">
              <div class= "flip-card-inner">
                <div class="flip-card-band-i <%= skill.level %>">
                </div>
                <div class="flip-card-band-ii <%= skill.level %>">
                </div>
                <div class="flip-card-front">
                  <svg height="50px" width="50px" viewBox="0 0 128 128">
                    <%= skill.svg_path.html_safe %>
                  </svg>
                </div>
                <div class="flip-card-back">
                  <%= skill.title %>
                </div>
              </div>
            </div>            
          <% end %>
        </div>
      </div>

      <div class="projects pb-5" id="projects">
        <h1 class="d-flex justify-content-center">
        <p style="text-shadow: -2px 2px 2px rgb(106, 9, 125);">M</p>y lastest projects
        </h1>
          <div class="card-project my-5">
            <div class="card-project-body">
              <div class="card-project-title d-flex justify-content-center">
                <p class="m-0" style="text-shadow: -2px 2px 2px rgb(106, 9, 125);">S</p>orotitree
              </div>
              <div class="card-project-description">
                <p>Final project from Le Wagon which allow women to enter in contact to talk about tabu subjects they want.</p>
                <div class="description-skills">
                  <p class="mb-2">• Live chat w/ Action Cable</p>
                  <p class="mb-2">• Complete Back-end to handle the app</p>
                  <p class="mb-2">• Searching matching profiles through SQL requests</p>
                  <p class="mb-2">• etc...</p>
                </div>
              </div>
            </div>
            <div class="card-project-background d-flex justify-content-center align-items-end" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'Sororitree.png' %>')">
              <%= link_to "http://www.sororitree.org/", class:"without-decoration" do %>
                <i class="fas fa-eye icon-eye"></i>
              <% end %>
            </div>
          </div>
          <div class="card-project">
            <div class="card-project-body">
              <div class="card-project-title d-flex justify-content-center">
                <p class="m-0" style="text-shadow: -2px 2px 2px rgb(106, 9, 125);">S</p>earch 4 Class
              </div>
              <div class="card-project-description">
                <p>First project from Le Wagon. "AirBnb like" to connect teachers and students.</p>
                <div class="description-skills">
                  <p class="mb-2">• Geolocalisation w/ MapBox API</p>
                  <p class="mb-2">• MVC Pattern</p>
                  <p class="mb-2">• Authentification & Authorization</p>
                  <p class="mb-2">• etc...</p>
                </div>
              </div>
            </div>
            <div class="card-project-background d-flex justify-content-center align-items-end" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'Search-4-Class.png' %>')">
              <%= link_to "https://mmister-cocktail-alexis59.herokuapp.com/", class:"without-decoration" do %>
                <i class="fas fa-eye icon-eye"></i>
              <% end %>
            </div>
          </div>
      </div>
      <div class="snake-game d-flex flex-column align-items-center" id="game">
        <h1 class="d-flex justify-content-center">
          <p style="text-shadow: -2px 2px 2px rgb(106, 9, 125);">L</p>et's relax
        </h1>
        <div class="game-text">
          <p>If you don't want to look for another CV now, if you want to take a break or if you just want some entertainement here's a little game for you <i>(my actual best is <strong>72</strong>)</i></p>
        </div>
        <button type="button" class="btn-blue-dark mb-3" data-toggle="modal" data-target="#ModalSnake">
          How to play
        </button>
        <%= render 'shared/modal_snake' %>
        <div class="score d-flex">
          <div class="mr-2">
            Score :
          </div>
          <div id="score">
            0
          </div>
        </div>
        <div class="highscore d-flex">
          <div class="mr-2">
            Highscore :
          </div>
          <div id="highscore">
            0
          </div>
        </div>
        <canvas id="gameCanvas" width="400" height="400" class="mb-4">
        </canvas>
      </div>
      <div class="contact d-flex flex-column align-items-center">
        <div class="mb-2" style="font-size: 22px;">
          Feel free to contact me ;)
        </div>
        <div class="d-flex">
          <a href="https://www.linkedin.com/in/alexis-lenoir-857496ab/" class="icon-social-large mx-3">
              <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/alex59495" class="icon-social-large mx-3">
            <i class="fab fa-github"></i>
          </a>
          <a href="mailto:alexis.lenoir60@gmail.com" target="_blank" class="icon-social-large mx-3">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



