<div class="container-cv">
  <div class="navbar">
    <%= render 'shared/navbar' %>
  </div>
  <div class="cv-body">
    <div id="home">
      <div id="particles-js" class="banner">
        <div class="banner-name d-flex justify-content-center">
          <h1>Alexis Lenoir</h1>
        </div>
        <div class="banner-job">
          <%= t('.banner-job') %>
        </div>
        <div class="banner-loc">
          <%= t('.localization') %>
        </div>
        <div class="banner-languages">
          <% if locale == :en %>
            <% @languages.each do |language, sym| %>
              <%= link_to root_path(locale: sym), class: "without-decoration" do %>
                <div class="mx-3 my-1 card-language">
                  <div class="icon-flag mr-2">
                    <%= image_tag "#{language}.jpg" %>
                  </div>
                  <div class="language-text">
                    <%= "#{language} version" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% elsif locale == :pt %>
            <% @languages.each do |language, sym| %>
              <%= link_to root_path(locale: sym), class: "without-decoration" do %>
                <div class="mx-3 my-1 card-language">
                  <div class="icon-flag mr-2">
                    <%= image_tag "#{language}.jpg" %>
                  </div>
                  <div class="language-text">
                    <%= "Versão #{language}" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <% @languages.each do |language, sym| %>
              <%= link_to root_path(locale: sym), class: "without-decoration" do %>
                <div class="mx-3 my-1 card-language">
                  <div class="icon-flag mr-2">
                    <%= image_tag "#{language}.jpg" %>
                  </div>
                  <div class="language-text">
                    <%= "Version #{language}" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container-profile">
      <div class="about-me mb-5">
        <h2>
          <%= t('.about-me') %>
        </h2>
        <p class="about-me-text"><%= t('.about-me-text_html') %></p>
        <p class="about-me-end"><%= t('.about-me-end') %></p>
      </div>

      <div class="professional-experience text-center mb-5">
        <h2>
          <%= t('.professional-experience') %>
        </h2>
        <% Experience::EXPERIENCES.each do |exp| %>
          <div class="experience mb-4">
            <div class="mb-2 font-weight-bold"><%= t(exp[:period]) %></div>
            <%= image_tag(exp[:image]) if exp[:image] %>
            <div class='block-with-margin'>
              <%= sanitize t(exp[:description]) %>
            </div>
          </div>
        <% end %>
      </div>
      
      <div class="skills mb-5" id="skills">
        <!-- Button trigger modal -->
        <h2>
          <%= t('.skills') %>
        </h2>
        <div class="skills-notes d-flex justify-content-around my-3">
          <div class="skills-good d-flex align-items-center my-2">
            <div class="color-good mr-2">
            </div>
            <div class="text-good">
              <%= t('.skill-good') %>
            </div>
          </div>
          <div class="skills-medium d-flex align-items-center my-2">
            <div class="color-medium mr-2">
            </div>
            <div class="text-medium">
              <%= t('.skill-medium') %>
            </div>
          </div>
          <div class="skills-basic d-flex align-items-center my-2">
            <div class="color-basic mr-2">
            </div>
            <div class="text-basic">
              <%= t('.skill-basic') %>
            </div>
          </div>
        </div>
        <div class="row skills justify-content-center">
          <% Skill::SKILLS.each do |skill| %>
            <div class="flip-card col-6 col-sm-4 col-md-3 col-lg-2">
              <div class= "flip-card-inner">
                <div class="flip-card-band-i <%= skill[:level] %>">
                </div>
                <div class="flip-card-band-ii <%= skill[:level] %>">
                </div>
                <div class="flip-card-front">
                  <svg height="50px" width="50px" viewBox="0 0 128 128">
                    <%= skill[:svg_path].html_safe %>
                  </svg>
                </div>
                <div class="flip-card-back">
                  <%= skill[:title] %>
                </div>
              </div>
            </div>            
          <% end %>
        </div>
      </div>

      <h2>
        <%= t('.latest-projects') %>
      </h2>
      <div class="container-projects pb-5" id="projects">
        <% Project::PROJECTS.each do |projet| %>
          <%= link_to projet[:url], class:"without-decoration card-project", target: '_blank' do %>
            <div class="card-project-body">
              <div class="card-project-title d-flex justify-content-center">
                <%= projet[:title] %>
              </div>
              <div class="card-project-description">
                <p><%= t(projet[:description]) %></p>
                <div class="description-skills">
                  <p class="mb-2"><i class="fa fa-check mr-2" aria-hidden="true"></i><%= t("#{projet[:descr_skill]}-skill-1") %></p>
                  <p class="mb-2"><i class="fa fa-check mr-2" aria-hidden="true"></i><%= t("#{projet[:descr_skill]}-skill-2") %></p>
                  <p class="mb-2"><i class="fa fa-check mr-2" aria-hidden="true"></i><%= t("#{projet[:descr_skill]}-skill-3") %></p>
                  <p class="mb-2"><i class="fa fa-check mr-2" aria-hidden="true"></i><u>Stack</u> : <%= t("#{projet[:descr_skill]}-stack") %></p>
                </div>
              </div>
            </div>
            <div class="card-project-background d-flex justify-content-center align-items-end" style="background-image: linear-gradient(rgba(250,250,250,0.3), rgba(250,250,250,0.3)), url('<%= image_path projet[:img] %>')">
            </div>
          <% end %>
        <% end %>
      </div>

      <h2>
        <%= t('.github-infos') %>
      </h2>
      <div class="container-github mb-3 d-flex flex-column align-items-center">
        <a href="https://github.com/alex59495" class='icon-social-xlarge'>
          <i class="fab fa-github"></i>
        </a>
        <img src="https://camo.githubusercontent.com/a66990498f9f1fc72ca0541cb69e5d38e64685ab8e0011663dd323874769b18b/68747470733a2f2f6769746875622d726561646d652d73746174732e76657263656c2e6170702f6170693f757365726e616d653d616c657835393439352673686f775f69636f6e733d74727565267468656d653d616c676f6c6961" alt="Github">
      </div>
      <div class="row mb-4">
        <div class='col-md-4 text-center'>
          <h5><%= t('.github-commits') %></h5>
          <p id='numCommits' class='count'>N/A</p>
        </div>
        <div class='col-md-4 text-center'>
          <h5><%= t('.github-pr') %></h5>
          <p id='numPR' class='count'>N/A</p>
        </div>
        <div class='col-md-4 text-center'>
          <h5><%= t('.github-repo') %></h5>
          <p id='numRepo' class='count'>N/A</p>
        </div>
      </div>

      <div class="snake-game" id="game">
        <h2>
          <%= t('.game') %>
        </h2>
        <div class="d-flex flex-column align-items-center">
          <div class="game-text">
            <p><%= t('.game-text') %></p>
            <p class="text-center"><%= t('.game-highscore_html', score: @score) %></p>
          </div>
          <div class="game-phone">
            <%= t('.game-not_html') %>        
          </div>
          <div class="game-pc">
            <button type="button" class="btn-blue-dark mb-3" data-toggle="modal" data-target="#ModalSnake">
              <%= t('.game-rules') %>
            </button>
            <%= render 'shared/modal_snake' %>
          </div>
          
          <div class="score d-flex">
            <div class="mr-2">
              Score :
            </div>
            <div id="score">
              0
            </div>
          </div>
          <div class="highscore d-flex">
            <div class="mr-2">
              Highscore :
            </div>
            <div id="highscore">
              0
            </div>
          </div>
          <canvas id="gameCanvas" width="400" height="400" class="mb-4">
          </canvas>
        </div>
      </div>
      <div class="contact d-flex flex-column align-items-center">
        <div class="mb-2" style="font-size: 22px;">
          <%= t('.contact') %>
        </div>
        <div class="d-flex">
          <a href="https://www.linkedin.com/in/alexis-lenoir-857496ab/" class="icon-social-large mx-3">
              <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/alex59495" class="icon-social-large mx-3">
            <i class="fab fa-github"></i>
          </a>
          <a href="mailto:alexis.lenoir60@gmail.com" target="_blank" class="icon-social-large mx-3">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>