<div class="d-flex">
  <div class="navbar d-flex flex-column justify-content-between">
    <%= render 'shared/navbar' %>
  </div>
  <div class="cv-body flex-grow-1">
    <div id="particles-js" class="banner">
      <div class="banner-name">
        Alexis Lenoir
      </div>
      <div class="banner-job">
        FullStack Developper
      </div>
      <div class="banner-loc">
        Currently in Rio de Janeiro
      </div>
    </div>
    <div class="container-profile">
      <div class="skills" id="skills">
        <!-- Button trigger modal -->
        <h1>Skills & Tools</h1>
        <div class="skills-notes d-flex justify-content-around my-3">
          <% @levels.each do |level| %>
            <div class="skills-<%= level %> d-flex align-items-center my-2">
              <div class="color-<%= level %> mr-2">
              </div>
              <div class="text-<%= level %>">
                <%= level.capitalize %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="skills row mb-5">
          <% @skills.each do |skill| %>
            <div class="flip-card m-2 col-sm-3 col-md-2">
              <div class= "flip-card-inner <%= skill.level %>">
                <div class="flip-card-front">
                  <svg height="50px" width="50px" viewBox="0 0 128 128">
                    <%= skill.svg_path.html_safe %>
                  </svg>
                </div>
                <div class="flip-card-back">
                  <%= skill.title %>
                </div>
              </div>
            </div>            
          <% end %>
        </div>
      </div>

      <div class="projects mb-5" id="projects">
        <h1>Projects</h1>
        <%= link_to "http://www.sororitree.org/", class:"without-decoration" do %>
          <div class="card-project d-flex">
            <div class="card-project-body">
              <div class="card-project-title">
                Sorotitree
              </div>
              <div class="card-project-description">
                Final project from Le Wagon which allow women to enter in contact to talk about tabu subjects they want
              </div>
            </div>
            <div class="card-project-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'Banner-sororitree.jpg' %>')">
            </div>
          </div>
        <% end %>
        <%= link_to "https://mmister-cocktail-alexis59.herokuapp.com/", class:"without-decoration" do %>
          <div class="card-project d-flex">
            <div class="card-project-body">
              <div class="card-project-title">
                Search 4 Class
              </div>
              <div class="card-project-description">
                First project from Le Wagon. "AirBnb like" to connect teachers and students.
              </div>
            </div>
            <div class="card-project-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'search-4-class.jpg' %>')">
            </div>
          </div>
        <% end %>
      </div>
      <div class="snake-game d-flex flex-column align-items-center" id="game">
        <h1 class="align-self-start">Let's play</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSnake">
          How to play
        </button>
        <%= render 'shared/modal_snake' %>
        <div class="score d-flex">
          <div class="mr-2">
            Score :
          </div>
          <div id="score">
            0
          </div>
        </div>
        <div class="highscore d-flex">
          <div class="mr-2">
            Highscore :
          </div>
          <div id="highscore">
            0
          </div>
        </div>
        <canvas id="gameCanvas" width="400" height="400" class="mb-4">
        </canvas>
      </div>
    </div>
  </div>
</div>



